#home{
    background: #fff;
    /* display: flex;
    justify-content: space-around;
    flex-wrap: wrap; */
}

.category{
    border:1.5px solid #555;
    border-radius:10px;
    padding:20px;
    margin:20px;
    min-width:120px;
    height:100px;
    text-align:center;
    text-transform:capitalize;
}
.category:hover{
    background: #db4444;
    color: #fff;
    cursor: pointer;
    border-color: #fff;
}
.category:hover img{
    filter: invert(100%);
}

.flex-section{
    display: flex;
    justify-content: start;
    overflow-x: scroll;
    scroll-behavior: smooth;
}
.multirows-section{
    flex-direction: column;
    flex-wrap: wrap;
    max-height: 75vh;
}
.flex-section::-webkit-scrollbar{
    display: none;
}
.images-container{
    width: 60%;
}
.adverts-section{
    display: flex;
    justify-content: space-between;
}
.adverts-group{
    display: flex;
    flex-direction: column;
    width: 49%;
    justify-content: space-between;
}
.adverts-group .flex-section{
    height: 45%;
    justify-content: space-between;
}
.advantages{
    display: flex;
    justify-content: space-evenly;
    margin: 60px 40px;
}
section{
    padding:0 40px;
}
#home hr{
    width: 80%;
    margin:40px auto;
}


@media (max-width:720px) {
    .adverts-section{
        flex-direction: column;
    }
    .adverts-group{
        width: 100%;
    }
}

@media (max-width:500px) {
    section{
        padding:20px;
    }
}