#home{
    background: #fff;
    /* display: flex;
    justify-content: space-around;
    flex-wrap: wrap; */
}

.product{
    margin: 10px;
    padding: 10px;
    min-width: 200px;
    width: fit-content;
    height: fit-content;
    background: #fff;
    text-align: left;
}

.product *{
    margin: 5px 0;
}

.flex-section{
    display: flex;
    justify-content: start;
    overflow-x: scroll;
    scroll-behavior: smooth;
}
.flex-section::-webkit-scrollbar{
    display: none;
}
.images-container{
    width: 60%;
}
section{
    padding:40px;
}

@media (max-width:500px) {
    section{
        padding:20px;
    }
}