#home{
    background: #fff;
    /* display: flex;
    justify-content: space-around;
    flex-wrap: wrap; */
}

.product{
    margin: 10px;
    padding: 10px;
    min-width: 200px;
    width: fit-content;
    height: fit-content;
    background: #fff;
    text-align: left;
}

.product *{
    margin: 5px 0;
}

.flex-section{
    display: flex;
    justify-content: start;
    overflow-x: scroll;
    scroll-behavior: smooth;
}
.flex-section::-webkit-scrollbar{
    display: none;
}
.images-container{
    width: 60%;
}
section{
    padding:40px;
}
.section-title{
    display: flex;
    justify-content: space-between;
    align-items: end;
}
.title-half{
    display: flex;
    width: 50%;
    justify-content: space-between;
    align-items: end;
}
.time-left{
    display: flex;
    align-items: end;
    justify-content: space-between;
    text-align: center;
    width: 50%;
    height: 50%;
}
.title-half h6 , .title-half h1 {
    margin: 10px auto;
}
.time-left h2{
    margin: 12px auto;
    color: orange;
}
.section-title h5{
    color: red;
}
.red-title{
    display: flex;
    align-items: center;
}
.red-title div{
    height: 30px;
    width: 15px;
    margin-right: 20px;
    border-radius: 4px;
    background-color: red;
}
.section-title button{
    margin: 10px 10px 10px 0;
    padding: 5px;
    font-size: large;
    border: none;
    border-radius: 100%;
    cursor: pointer;
}