.center{
    display: flex;
    justify-content: center;
    width: 100%;
}

.space-between{
    display: flex;
    justify-content: space-between;
    align-items: start;
    width: 100%;
}

.red-button{
    background-color: #db4444;
    color: #fff;
    border: none;
    border-radius: 3px;
    min-width: fit-content;
    max-width: 150px;
    width: -webkit-fill-available;
    height: 30px;
    cursor: pointer;
    text-decoration: none;
}

input[type=checkbox], input[type=radio]{
    accent-color: #dd4444;
}
