#topBar{
    z-index: 2;
    display: flex;
    height: 13vh;
    min-height: 50px;
    justify-content: space-around;
    align-items: center;
    background: #fff;
    border-bottom: 1px solid #aaa;
}
#topBar #humberger{
    display: none;
}
#topBar ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 35%;
    height: 50%;
    margin: 0;
    padding: 0;
}
#topBar li a:hover, #layout-3 a:hover, .clicked{
    border-bottom: #555 solid 1.8px;
}
#topBar a{
    font-family:'Lucida Sans Regular';
    color: black;
    font-weight: 300;
    text-decoration: none;
    text-align: center;
}
#layout-3{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: max-content;
}
#layout-3 > *:not(:first-child){
    padding: 0;
    font-size: x-large;
    cursor: pointer;
    margin-left: 10px;
}
#search-icon{
    display: none;
}
@media(max-width:720px){
    #topBar{
        width: 100%;
        align-items: center;
    }
    #topBar #humberger{
        display: block;
        font-size: x-large;
        cursor: pointer;
    }
    #topBar ul {
        display: flex;
        position: absolute;
        z-index: 2;
        top: 50vh;
        height: 0;
        width: 100%;
        background: #fffffff0;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        opacity: 0;
        overflow: hidden;
        transition: 0.3s;
    }
    #topBar .show{
        position:absolute;
        top: 13vh;
        opacity: 1;
        height: 87vh;
        transition: 0.5s;
    }
    #topBar li a{
        margin-bottom: 10px;
        width: 50%;
    }
    #topBar li:last-child{
        margin-bottom: 30vh;
    }
    #topBar li{
        width: 100%;
        padding: 2vh 0;
        text-align: center;
    }
}
@media (max-width:500px){
    #topBar #search-icon{
        display: block;
    }
    #topBar .hide-nav-items{
        display: none;
    }
}