
.product{
    z-index: 1;
    margin: 10px 20px 10px 0;
    padding: 10px;
    min-width: 200px;
    width: min-content;
    height: fit-content;
    background: #fff;
    text-align: left;
}

.product *{
    margin: 5px 0;
}

.product .product-div{
    position: relative;
    background: #eee;
}

.product .product-div img{
    width: 100%;
    object-fit: contain;
}

.wishlist-button-container{
    position:absolute;
    top:3px;
    right:3px;
    margin: 0;
    width:fit-content;
}

.wishlist-button{
    font-size:large;
    background:white;
    border-radius:50%;
    width:fit-content;
    padding:3px;
    border:none;
    cursor:pointer;
}

.cart-button{
    width: 100%;
    margin: 0;
    background: #000;
    color: #fff;
    border: none;
    cursor: pointer;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}